<% content_for :'page-header' do %>
Cara kerja Pasar Amal
<% end %>
<h1>
  Step 1
</h1>
<p>
Daftarkan sumbangan anda
</p>

<h1>
  Step 2
</h1>
<p>
Tentukan persentase yang ingin disumbangkan
</p>
<h1>
  Step 3
</h1>
<p>Hasil persentase penjualan barang sumbangan akan di donasikan kepada charity partner kami, dan sisanya di transfer kembali ke rekening anda.</p>

