<div class="views-row views-row-1 views-row-odd views-row-first views-row-last">  
  <div class="views-field views-field-line-item-title">
    <span class="field-content">
      <div class="product-name  quantity-1" hash="#" sku="">
        <div class="product-title">
          <%= image_tag(product[:image_url]) %>
        </div>
      </div>
    </span>
  </div>
  <div class="views-field views-field-commerce-unit-price">
    <div class="field-content"><%= product[:price] %></div>
  </div>
</div>
