<footer id='footer' class='clearfix'>
<div class="region region-footer">

  <section id="block-boxes-footer-message" class="block block-boxes block-boxes-simple block-even">
  <div id="boxes-box-footer_message" class="boxes-box">
                            <div class="boxes-box-content"><span><a href="/about">About</a></span>
                                <span><a href="/contact">Contact</a></span>
                                <span><a href="/press">Press</a></span>
                                <span><a href="/return-policy">Returns</a></span>
                                <span><a href="/terms">Terms of use</a></span>
                                <span class="last"><a href="/faq-page">FAQ</a></span>
                                <br>
                                <span class="credit"><a target="_blank" title="Author" href="http://fajarmf.net/">fajarmf.net</a></span>
                                <span class="credit last"><a target="_blank" title="UX and UI Design" href="http://fajarmf.net/">UX by Fajar Firdaus</a></span>
                            </div>
                          </div>
                            </section>

  <div class="region-content-bottom">

                            <section id="block-boxes-social-links" class="block block-boxes block-boxes-simple block-even">        
                            <div id="boxes-box-social_links" class="boxes-box">
                              <div class="boxes-box-content">Follow us: 
                                  <a target="_blank" href="http://www.facebook.com/fajarmf" class="fb ir">Facebook</a>
                                  <a target="_blank" href="https://twitter.com/#!/fajarmf" class="tw ir">Twitter</a>
                                  <a target="_blank" href="http://www.youtube.com/fajarmf" class="yt ir">Youtube</a>
                                  <a target="_blank" href="https://plus.google.com/u/0/113714696852845301735/posts" class="go ir">gmail</a>
                          </div>
                      </div>
                    </section>
                  </div>
                </div>
</footer>
