
<footer class="container" id="footer">
  <div class="row">
      <p class="four columns">&copy; Pasar Amal 2012</p>
      <div class="eight columns social">
        <a href="#">Follow us on Twitter</a> / <a href="#">Like us on Facebook</a>
      </div>
  </div>
</footer>
