<header class="container" id="header">
	<div class="row">
		<h2 class="four columns">Pasar Amal</h2>
		<nav class="eight columns">
		  <ul class="nav-bar">
		  	<li>
		  		<%= link_to "Beranda", root_path, :class=>'active' %>
		  	</li>
		  	<li>
		  		<a href="/profile">Account</a>
		  	</li>
		  	<li>
		  		<a href="/partners">Partner</a>
		  	</li>
		  	<li>
		  		<a href="/dropboxes" title="">Events</a>
		  	</li>
		  	<li>
		  		<a href="/how" title="">How</a>
		  	</li>
		  </ul>
		</nav>
	</div>
</header>
